@page "/Attendence"
@model MachineTest.Pages.AttendenceModel



<span style="font-family: verdana, geneva, sans-serif">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Course Management System</title>
        <style>
            body {
                background-image: url('images/back-school.jpg');
                background-size: cover;
                background-attachment: fixed;
                font-family: 'Times New Roman', Times, serif;
            }
        </style>
   </head>
    <body>
        <div class="container-fluid">
            <div class="row pt-2 pb-2">
                 
                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm"
                            data-bs-toggle="offcanvas"
                            href="#offcanvasExample"
                            role="button"
                            aria-controls="offcanvasExample">
                        Menu
                    </button>
                </div>
                <div class="col-md-6">
                    <h2 style="
                text-align: center;
                font-family: monospace;
                font-weight: 800;
                color: brown;
              ">
                       Course Management System
                    </h2>
                </div>
            </div>
        </div>
        <section>
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card p-5">
                            <form method="post">
                                <div class="form-group">
                                    <label asp-for="EmployeeViewModel.SelectedEmployeeId" class="control-label">Employee</label>
                                    <select asp-for="EmployeeViewModel.SelectedEmployeeId" class="form-control" asp-items="Model.EmployeeViewModel.Employees"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CourseViewModel.SelectedCourseId" class="control-label">Course</label>
                                    <select asp-for="CourseViewModel.SelectedCourseId" class="form-control" asp-items="Model.CourseViewModel.Courses"></select>
                                </div><br />
                                <div class="form-group">
                                <label class="form-label">Date</label>
                                <input type="date" placeholder="Select Date" asp-for="Attendence.AttendenceDate" />
                                </div><br />
                                <input type="submit" class="btn btn-primary" />
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @* <div class="card p-5">
                           
                        </div> *@
                    </div>
                    <div class="row">
                        @if (TempData["msg"] != null)
                        {
                            <b>@TempData["msg"]</b>
                        }
                    </div>
                   
                </div>
            </div>
        </section>
        <div class="offcanvas offcanvas-start"
             tabindex="-1"
             id="offcanvasExample"
             aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
                <button type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/Home">Employee</a></li>
                        <li class="list-group-item"><a href="/Course">Courses</a></li>
                        <li class="list-group-item"><a href="/Attendence">Attendence</a></li>
                        <li class="list-group-item"><a href="/Report">Report</a></li>
                    </ul>


                </div>
            </div>
        </div>
        
    </body>
</html>
</span>


